@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

:root{
    --primary-color: #059669;
    --light-green:#ECFDF5;
}

body {
    font-family: 'Stick No Bills', sans-serif;
}

#container {
    padding: left 1rem;
padding-right: 1rem;
max-width: 600px;
    margin:auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    background-color:var(--light-green); 
}

#heading {
    text-align: center;
    size: large;
}

#date-of-birth {
    width: 40%;
    margin: 12px;

}

.lucky-number {
    width: 50%;

}

.footer-list {
    list-style: none;
    
}

.list-item {
    text-align: center;
    display: inline;
}

.footer {
    text-align: center;

}

#output-box {
    margin-top: 2rem;
}

.link {
    text-decoration: none;
    padding: .5rem 1rem;
    color: var(--primary-color)
}